Memberships 
* User should see link for basic plan on home page
* User should see link for pro plan on home page
* Basic plan link should point to th regualr Device sign up plan
* Pro plan link should point to a custom sign up form
    -> Use query string parameters!

ActiveRecord = Language to simplify SQL commands
Parameters = Query string parameters & POST requests)
Substitution

Stripe Integration
* Users should have a stripe customer token in the users table
* JaveScript should prevent pro form submitting, when user fills it out
  and should send card info to Stripe. Stripe will return with a card token.
* JavaScript  should send user fields ans card token to our rails app. Rails app
  should validate the user fields. Rails app will not whether plan 1 on or plan 2.
* One validated, Rails should send user info (email, plan id) and card token
  to Stripe server and Stripe will create a subscription and send back customer
  token. Rails should save customer token and user information to our database.
  
User Profiles
* Each user should have one profile
* User should see link to new profile form upon signing up
* User should be able to create and view their user profile
* User profile should have a profile picture
* User should be able to view all user profiles
* 